$primary-color: rgb(235,231,196) !important;
$secondary-color: rgb(147,106,69) !important;

$font-montserrat: 'Montserrat', sans-serif;

body{
    font-family: $font-montserrat;
}

.c-main{
    color : $primary-color;
}

.bg-c-main{
    background-color: $primary-color;
}

.c-secondary{
    color: $secondary-color;
}

.bg-c-secondary{
    background-color: $secondary-color;
}

.c-white{
    color: whitesmoke;
}

.bg-c-white{
    background-color: whitesmoke;
}

.text-decoration-none{
    text-decoration: none;

}