$primary-color: rgb(235,231,196) !important;
$secondary-color: rgb(147,106,69) !important;

$font-montserrat: 'Montserrat', sans-serif;

body{
    font-family: $font-montserrat;
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100%;
    position: relative;
}

.c-main{
    color : $primary-color;
}

.bg-c-main{
    background-color: $primary-color;
}

.c-secondary{
    color: $secondary-color;
}

.bg-c-secondary{
    background-color: $secondary-color;
}

.bg-c-secondary-shine{
    background-color: #E7D7BB;
}

.c-white{
    color: whitesmoke;
}

.bg-c-white{
    background-color: whitesmoke;
}

.btn-main{
    background-color: $primary-color;
    color: $secondary-color;
}

.btn-main:hover{
    background-color: $secondary-color;
    color: $primary-color;
}

.text-decoration-none{
    text-decoration: none;
}

.border-primary{
    border: 1px solid $primary-color;
}

.border-secondary{
    border: 1px solid $secondary-color;
}

.my-card{
    width: 60%;
}

.my-nav li:hover:not(.antiHover), .my-nav li a:hover{
    background-color: whitesmoke;
}

.dropdown-item.active{
    background-color: whitesmoke;
}

.my-nav li{
    padding: 0.5rem 0 0.5rem 0;
}

.my-footer{
    padding: 2rem 4rem;
}

p{
    margin: 0;
}

.ready-size.active{
    background-color: $primary-color;
}

.ready-size{ 
    padding: 3px;
    margin: 0px 5px;
}

.catalog-image-detail{
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: center;
}

.cart-image{
    width: 200px;
    height: 200px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }