$primary-color: rgb(235,231,196) !important;
$secondary-color: rgb(147,106,69) !important;

$font-montserrat: 'Montserrat', sans-serif;

body {
  font-family: $font-montserrat;
}

.navbar-footer-background {
  background-color: $primary-color;
}

.text-color-inside {
  color:$secondary-color;
}

.catalog-big {
  width: 800px;
  height: 560px;

  img {
    width: 100%;
  }
}

.catalog {
  width: 65%;
  height: 280px;
}

.column {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  height: 200px;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.icons {
  img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 5px;
  }
}

.title-category {
  margin-top: -5rem;
  margin-left: 1rem;
}

@media only screen and(max-width: 1024px) {
  .catalog-big {
    width:500px;
  }
}

@media only screen and(max-width: 768px) {
  .catalog-big {
    width:456px;
    height: 280px;
  }
  
  .column {
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

@media only screen and(max-width: 425px) {
  .catalog-big {
    width:500px;
  }
}


